@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background: #ffffff;
}

.blind {
    display: block;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    width: 0;
    height: 0;
}

.wrap {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.left {
    display: block;
    width: 180px;
}

.right {
    display: block;
    width: 820px;
}

header {
    display: block;
    align-items: center;
}

header>h1>a {
    display: block;
    height: 40px;
    width: 90%;
    /* margin-bottom: 10px; */
    background: url(../images/logo.png) no-repeat 50% 50%;
    text-indent: -9999px;
}

.gnb {
    display: flex;
}

.m-depth1>li {
    /* .m-depth1 에 속성 넣지 않고 .m-depth1>li 에 넣는 이유는? */
    position: relative;
    width: 100%;
}

.m-depth1>li>h2>a {
    display: block;
    height: 40px;
    width: 180px;
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
    padding: 6px;
    border-bottom: 2.5px solid rgba(255, 99, 71, .3);
}

.m-depth1>li>h2>a:hover {
    background: rgba(255, 0, 0, .5);
    border: 0.5px solid rgb(255, 0, 0, .1);
    border-radius: 7px 0 0 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
}


.m-depth2 {
    position: absolute;
    /* justify-content: space-between; */
    overflow: hidden;
    /* display: none; */
    text-align: center;
    width: 0px;
    /* height: 0px; */
        /* top: 0%; */
    /* line-height: 2.5; */
    transition: all .25s;
}

.m-depth2>li {
    display: block;
    line-height: 2.5;
    /* text-align: center; */

}


.m-depth1>li:hover .m-depth2 {
    z-index: 100;
    /* display: block; */
    width: 180px;
    height: auto;
    left: 180px;
    top: 0%;

}

/* .m-depth1>li:hover .m-depth2>li { */
/* background-color: rgba(238, 238, 238, 0.5); */
/* display: block; */
/* line-height: 2.5; */
/* }  */

/*.m-depth2>li:hover .m-depth1 li {
    background: rgba(255, 0, 0, .5);
    border: 0.5px solid rgb(255, 0, 0, .1);
    border-radius: 7px 0 0 0;
    color: white;
 } */

/* .m-depth1>li>h2>a:hover .m-depth2 { */
/* left: 180px; */
/* } */

/*.m-depth2 li:hover { 
        /* display: block; */
    /* background: rgba(255, 99, 71); */
    /* height: 30px; */
    /* font-weight: bold; */
    /* color: #ffffff; */
 /* } */

.m-depth2 a:hover {
    display: inline-block;
    width:100%;height: 100%auto;
    background: rgba(255, 99, 71);
    /* line-height: 1.8; */
    font-weight: bold;
    color: #fff;
}

.slide {
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 820px;
}

.slide ul {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.slide img {
    display: block;
    height: 350px;
    width: 820px;
    object-fit: cover;
    /*object-position: 50% 50%;*/
    border: 0.5px solid rgba(59, 59, 59, .1);
}

.contents {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.contents h2 a {
    position: relative;
    display: block;
    text-align: center;
    width: 100px;
    height: 27px;
    background: rgb(90, 90, 90, .3);
    margin: 5px 0;
    padding: 3px;
    border-bottom: 1px solid #000;
    border-radius: 5px 5px 0 0;
}

.contents h2 a::after {
    content:'';
    position: absolute;
    width: 263px;height: 3px;
    background: tomato;
    left: 0px;
    top: 25px;
}

.contents section {
    width: 32%;
}

.contents .notice {
    display: block;
    text-align: left;
}

.contents .lst-gall {
    display: flex;
    justify-content: space-between;

}

.contents .lst-gall li {
    width: 32%;
}

.contents .lst-gall a {
    display: block;
}

.contents .lst-gall img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: 50% 50%;
}

.contents .link {
    display: block;
    margin-top: 15px;
    /* align-items:; */
    align-content: space-between;
}

footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: rgba(211, 211, 211,.2);

}

footer * {
    background: rgba(211, 211, 211,.2);

}